<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
<!-- Search Engine -->
<meta name="description" content="" />
<!-- Schema.org for Google -->
<meta itemprop="name" content="Haumohio" />
<meta itemprop="description" content="N" />
<!-- Open Graph general (Facebook, Pinterest, etc.) -->
<meta property="og:title" content="Haumohio">
<meta property="og:description" content="">
<meta property="og:image" content="https://haumohio.com/images/logo.png" />
<meta property="og:url" content="https://haumohio.com" />
<meta property="og:site_name" content="Haumohio" />
<meta property="og:locale" content="en_NZ" />
<!-- <meta property="fb:admins" content="100001421670439">
<meta property="fb:app_id" content="335782529773277"> -->
<meta property="og:type" content="website" />

<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
<link rel="canonical" href="https://haumohio.com/">