---
---

$color-main: #ff4427;
$color-highlight: white;
$color-accent: #ff7c68;
$spot-size: 130px;

html{height: 100%;}
body{
    background-color: #002635;
    color: $color-main;
    box-sizing: border-box;
}
body.full-double0{
    background-image: url('../images/doubleo_dark.png'), url('../images/doubleo_footer.png');
    background-position: top left, 20px bottom;
    background-repeat: no-repeat;
    background-size: auto auto, 100% auto;
    padding-top: 120px;
    padding-bottom: 160px;
    height: 100%;
    min-height: 100%;
}

body.full-double0.principle-Deliver{
    background-image: url('../images/doubleo_dark.png'), url('../images/doubleo_footer.png'), url('../images/Agile Principles-Deliver.png');
    background-position: top left,  20px bottom, top right;
    background-size: auto auto, 100% auto, auto 140px;
    background-origin: padding-box;

}


.markdown-body {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0.05em;
    padding: 2rem;


    p, li, table {
        font-family: "Proxima Nova","proxima-nova",Helvetica,Arial,sans-serif;
    }
    ul li {
        list-style-image: url("https://cdn2.iconfinder.com/data/icons/basicset/tick_16.png");
    }

    h1 > .description {
        font-style: italic;
    }

    h1, h2, h3, h4,h5, h6{
        font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
        color: $color-highlight;
        border: none;
    }

    h1 {
        text-align: left;
        font-size: 2.6em;
    }
    .markdown-body, p, li{
        color: $color-main;
    }

    a, .markdown-body:visited {
        color: $color-accent;
    }

    hr {
        background-color: $color-main;
        height: 0.1em;
        opacity: 0.5;
    }

    ul li {
        list-style-image: none;
        list-style-type: disc;
    }

    table.module {
        border: none;
        border-collapse: inherit;
        background: transparent;
        display: inline-table;
        width: 100%;
        margin: 0.5em;
        padding: 1em;
        font-size: 80%;
        vertical-align: top;
        table-layout: fixed;
        text-align: center;
    }

    table.module tr, table.module tr:nth-child(2n){
        background: transparent;
        border: none;
    }

    table.module th, table.module td {
        border: none;
        background: transparent;
        width: 25%;
        padding: 0.5em;
        color: $color-highlight;
        vertical-align: top;
        padding-top: 1em;
    }

    table.module td {
        border-left: 1px solid $color-highlight;
    }

    table.module tr td:first-child {
        border-left: none;
    }

    table.module th {
        background: url('../images/doubleo_spot.png');
        background-repeat: no-repeat;
        background-size: 10em 10em;
        background-position: center center;
        height: 10em;
        width: 10em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 4em;
    }
    .spot{
        img{
            float: left;
            width: $spot-size;
            margin-right: 20px;
        }
    }
    .spot+p{
        vertical-align: middle;
        display: table-cell;
        height: $spot-size;
    }
}

footer{
    position: absolute;
    bottom: 0;
    left: 2em;
    text-align: center;
}