---
---

@font-face {
  font-family: 'Haumohio';
  src:  url('../fonts/NovaRound.ttf');
  src:  url('../fonts/NovaRound.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Programming';
  src:  url('../fonts/Consolas.ttf');
  src:  url('../fonts/Consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProgHead';
  src:  url('../fonts/bitwise.ttf');
  src:  url('../fonts/bitwise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  // background-image: url('../images/bg.png');
}
header{
  font-family: Haumohio;
  padding: 0 3rem;
  background-size: cover;
  background-position: center center;
  min-height: 36em;
  h1{
    text-align: center;
    line-height: 2em;
    font-size: 700%;
    margin-top: -0.5em;
  }
  h2{
    text-align: center;
    line-height: 1.3em;
    font-size: 300%;
    padding-bottom: 2em;
  }
}



.shadowed{
  text-shadow: 3px 3px 6px white;
}
.inverse-shadowed{
  color: white;
  text-shadow: 3px 3px 6px black;
}
nav{
  a{
    color: currentColor;
  }
}

.markdown-body {
  font-size: 130%;
  padding: 0 1em;
  font-family: Programming;
  h2{
    text-shadow: 2px 2px 10px gray;
    font-family: ProgHead;
    font-size: 200%;
    text-indent: 2em;
  }
  h3{
    text-shadow: 2px 2px 10px gray;
    clear: both;

  }

  p{
    padding: 0 1em;
    clear: both;
    text-align: justify;
  }

  br{
    line-height: 2em;
  }
  blockquote{
    width: calc( 100% - 3em );
  }
  .byline {
    font-size: 75%;
    font-style: italic;
  }
  h3 a {
    color: inherit;
  }
  pre.highlight {
    padding: 2em;
    margin-left: 2em;
    background: #666;
    color: white;
  }
}
.half-n-half{
  img{
    width: 100%;
  }
  .image{
    width: 55%;
    float:left;
    margin-left: -1em;
    margin-right: 1em;
  }
  .image.right{
    float:right;
    margin-left: 1em;
    margin-right: -1em;
  }
  p, h3{
    display: inline-block;
    width:45%;
  }
  .fullwidth{
    width: 100%;
  }
  .excerpt{
    font-size: 80%;
  }
  hr{
    line-height: 2em;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    clear: both;
  }
}

blockquote {
  border-left: lightblue 4px solid;
  margin-left: 1em;
  font-style: italic;
  font-size: 120%;
  opacity: 0.8;
}
.post{
  img{
    width:100%;
    margin: 0 -1em;
  }

}

.christchurch{
  background-image: url('../images/christchurch2.png');
}
footer{
  clear: both;
  background: rgba(0,0,0,0.1);
  padding: 1em 1em;
}

footer div{
  display: inline-block;
}

@media screen and (max-width: 600px) {
  header h1 {font-size: 12vw;}
  header h2{ font-size: 8vw;}
  .markdown-body{
    .image, image.right {
      float: none;
      width: 100vw;
      margin: 0;
      margin-left: -2em;
      margin-bottom: 1em;
    }
    p, h3, blockquote{
      display: inherit;
      width: unset;
      padding: 0;
      margin-top: 1em;
    }

  }
}