---
---

@font-face {
  font-family: 'Haumohio';
  src:  url('../fonts/NovaRound.ttf');
  src:  url('../fonts/NovaRound.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Programming';
  src:  url('../fonts/Consolas.ttf');
  src:  url('../fonts/Consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProgHead';
  src:  url('../fonts/bitwise.ttf');
  src:  url('../fonts/bitwise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header{
  padding: 0 3rem;
  background-size: cover;
}
h1{
  text-align: center;
  line-height: 2em;
  font-size: 700%;
}
h2{
  text-align: center;
  line-height: 1.3em;
  font-size: 300%;
  padding-bottom: 2em;
}
@media screen and (max-width: 600px) {
  h1 {font-size: 12vw;}
  h2{ font-size: 8vw;}
}

.shadowed{
  text-shadow: 3px 3px 6px white;
}
.inverse-shadowed{
  color: white;
  text-shadow: 3px 3px 6px black;
}

.markdown-body {
  font-size: 130%;
  padding: 0 1em;
  font-family: Programming;

  h3{
    text-shadow: 2px 2px 10px gray;
    clear: both;

  }

  p{
    margin-top: 1em;
    padding: 0 1em;
    clear: both;
    text-align: justify;
  }
  img{
    width: 50%;
    float:left;
    margin-left: -1em;
    margin-right: 1em;
    padding: 2em 0;
    vertical-align: middle;
  }
  img.right{
    float:right;
    margin-left: 1em;
    margin-right: -1em;
  }
  br{
    line-height: 2em;
  }
}

.post{
  blockquote {
    border-left: lightblue 4px solid;
    margin-left: 1em;
    font-style: italic;
    font-size: 120%;
    opacity: 0.8;
  }
  img{
    width:100%;
    margin: 0 -1em;
  }
}

.christchurch{
  background-image: url('../images/christchurch2.png');
}
footer{
  clear: both;
  background: rgba(0,0,0,0.1);
  padding: 1em 1em;
}

footer div{
  display: inline-block;
}