<html>
  <head>
      {{ metahead }}
      {{ includes }}
      <title>Haumohio Software</title>
  </head>
  <body >
    {{ header }}
    <div class="fixedbg" style="background-image: url('images/watch_H_laptop.jpg'); background-position: 45% bottom;"></div>
    <section class="full-height yellow" style="background: transparent" alt="Haumohio: Software development and consulting">
      <!-- <h1>Haumohio</h1>
      <h4>Software development and consulting</h4> -->
    </section>
    <section id="experience">
      <h2 >Over 20 years of experience delivering software and consulting on software products</h2>
      <div class="triple">
        <i class="fa fa-4x fa-code"></i>
        <p>Software development</p>
        <p>In the cloud, on a mobile platform, as a micro-service, or an API</p>
      </div>
      <div class="triple">
        <i class="fa fa-4x fa-heartbeat"></i>
        <p></p>Continuous delivery of value from feature to customer</p>
        <p></p>Automation of the development and quality assurance pipeline all the way through to measuring the health and value of the deployed solutions</p>
      </div>
      <div class="triple">
        <i class="fa fa-4x fa-book"></i>
        <p></p>Train your own software development team</p>
        <p></p>in topics such as continuous delivery, software design, and micro-testing</p>
      </div>
    </section>
    <section class="light" style="background-image: url('images/happydesk2.jpg');background-position: center bottom;">
      <h2 >Strategic Partnerships</h2>
      <img src="images/doubleo.png" class="half-width" />
      <div class="half-width" >
        <p>
          Technical consulting and leadership in association with <a href="http://doubleo.nz" target="_blank">Double-O Consulting</a>.
          Specialising in emergent architecture and technical practices such as test driven development.
        </p>
        <p >
          Particular focus on the Callaghan Build For Speed improvement programme for startups, 
          assessing and providing help for over 100 companies including Onside, Forbury, Dynamic Controls, and MTF.
        </p>
      </div>
    </section>

    {{ footer }}
    {{ scripts }}
  </body>

</html>