<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} - {{site.title}}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha256-azvvU9xKluwHFJ0Cpgtf0CYzK7zgtOznnzxV4924X1w=" crossorigin="anonymous" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous">    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/monokai.min.css" >
    </head>
  <body class={{page.page-class}}>
    <div>
        <div class="head-container" style="background-image: url('/assets/post_images/{{page.image}}');">
            <nav id="navbar" class='navbar navbar-{{page.navbar-class | default: "dark"}} navbar-expand-md'>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span>Menu</span>
                
              </button>
              <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                </ul>
              </div>
            </nav>
          <header >
            <h1 class='{{page.navbar-class | default: "inverse-"}}shadowed shadowed' >{{page.title | default: ""}}</h1>
            <h2 class='{{page.navbar-class | default: "inverse-"}}shadowed shadowed'>{{page.description}}</h2>
          </header>
        </div>
      <section class="markdown-body post">

        {{ content }}

      </section>
      <footer >
        <label>Published:</label> <span>{{ page.date | date_to_string }}</span> | 
        <label>Tags:</label><span>{{ page.tags | array_to_sentence_string }}</span> | 
        {% capture hashtags %}
          {% for tag in page.tags %}#{{ tag | replace: ' ', ''}} {% endfor %}
        {% endcapture %}
        {% capture rawtweet %}
          @PeterChch posted "{{page.title}} - {{page.description}}" at {{page.url | prepend: site.url}} {{hashtags | lstrip }}
        {% endcapture %}
        <a href='https://twitter.com/intent/tweet?text={{rawtweet | strip | url_encode }}' target="_blank"/><i class="fa fa-twitter"></i>  Tweet this</a>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha256-63ld7aiYP6UxBifJWEzz87ldJyVnETUABZAYs5Qcsmc=" crossorigin="anonymous"></script>
  </body>
</html>
